hardware/4-digit-seven-segment-display.fzz filter=lfs diff=lfs merge=lfs -text
hardware/4-digit-seven-segment-display_bb.jpg filter=lfs diff=lfs merge=lfs -text
hardware/4-digit-seven-segment-display_schem.jpg filter=lfs diff=lfs merge=lfs -text
